<a href="https://colab.research.google.com/github/MyrewinGrepo/58003-OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [2]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested for loop

In [3]:
adjective = ["Big","Tasty","Juicy"]
Fruits = ["Banana","Apple","Cherry"]

for x in adjective:
  for y in Fruits:
    print(x,y)

Big Banana
Big Apple
Big Cherry
Tasty Banana
Tasty Apple
Tasty Cherry
Juicy Banana
Juicy Apple
Juicy Cherry

Break Statement for loop

In [8]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Print only thursday using breaK STATEMNT IN FOR LOOP

In [21]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

looping through string

In [23]:
for x in "Philippines":
  print(x)

P
h
i
l
i
p
p
i
n
e
s

while loop

In [27]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

while loop using break statement

In [34]:
i = 1
while i<=6:
  if i==4:
    print(i)
    break
  i+=1

4

In [47]:
i = 0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [52]:
Greet = ["Hello"]
Number = ["0","1","2","3","4",'5',"6","7","8","9","10"]

for x in Greet:
  for y in Number:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [56]:
i = 3
while i<=10:
  if i==10:
    break
  print(i)
  i+=1

3
4
5
6
7
8
9