<a href="https://colab.research.google.com/github/MyrewinGrepo/58003-OOP/blob/main/Variable__and__Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
fruits = ['abc',1]

print(fruits)
fruits.insert(2,2)
print(fruits)

['abc', 1]
['abc', 1, 2]

In [55]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

student = Person("ana",20)
Teacher = Person("maam sayo", 20)
print(student.name)
print(student.age)

print(Teacher.name)
print(Teacher.age)

ana
20
maam sayo
20

In [56]:
class Shapes:
  def __init__(self,length,width):
    self.length = length
    self.width = width

  def area(self):
   return self.length*self.width

rectangle = Shapes(5,5)
rectangle.area()

25

In [57]:
pi = 3.14159
varList =  [1,2,"A","B","Hello",pi]
print(varList[0])
print(varList[4])

1
Hello

In [58]:
varList.append(5)
print(varList)

[1, 2, 'A', 'B', 'Hello', 3.14159, 5]

In [59]:
varList.remove(5)
print(varList)

[1, 2, 'A', 'B', 'Hello', 3.14159]

In [64]:
var ="Hello World!"
varDict = {'first' : 123, 2 : 'abc', '3' : var, 4: ['lista','listb']}
           
print( varDict['first'])
print( varDict['3'])
print( varDict[4])
print( varDict)

123
Hello World!
['lista', 'listb']
{'first': 123, 2: 'abc', '3': 'Hello World!', 4: ['lista', 'listb']}

In [71]:
varList = [1,2,3,4,5,6,7,8,9,10]
print(varList[5:])
print(varList[:6])
print(varList[1:10:2])

[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[2, 4, 6, 8, 10]

In [73]:
print(varList[:2])
print(varList[:-8])
print(varList[:+2])

[1, 2]
[1, 2]
[1, 2]